<%= link_to 'User Sign up', new_user_registration_path %>

<% if user_signed_in? %>
<li>
<%= link_to 'Logout', destroy_user_session_path, :method=>'delete' %>        
</li>
<% else %>
<li>
<%= link_to 'Login', new_user_session_path %>  
</li>
<% end %>

<%= link_to 'Users', :controller => :users, :action => :list %>

<%= link_to 'Create Product', :controller => :products, :action => :new %>